body {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #098862;
  font-family: 'Architects Daughter', cursive;
  font-size: 28px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.list {
  background-color: rgb(18, 168, 68);
  border-radius: 5px;
  color: white;
  width: 415px;
  padding-left: 3px;
}

.list li {
  list-style: none;
  font-size: 18px;
}

form {
  color: #008B45;
  font-family: 'Architects Daughter', cursive;
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-left: 85px;
}

form > input {
  border: 1px solid rgb(4, 116, 4);
  border-radius: 3px;
}

.list-elt {
  display: grid;
  grid-template-columns: 250px 75px 40px 40px;
  padding-top: 3px;
  font-family: 'Architects Daughter', cursive;
}

.item-name {
  grid-column: 1;
}

.quantity-name {
  grid-column: 2;
}

.editer-holder {
  grid-column: 3;
}

.deleter-holder {
  grid-column: 4;
}

.list-elt button {
  border: none;
  color: rgb(153, 209, 172);
  background-color: rgb(18, 168, 68);
  border-radius: 3px;
  z-index: 100;
}

button:focus {
  outline: none;
}

.list-elt button:active {
  background-color: rgb(19, 110, 50);
}

.add-item {
  font-family: 'Architects Daughter', cursive;
  margin-top: 12px;
  margin-bottom: 8px;
  border: 1px solid rgb(18, 168, 68);
  color: #008B45;
  background-color: rgb(216, 233, 221);
  border-radius: 3px;
  margin-left: 175px;
}